@import "reset";

body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background-color: #0e0e0e;
}

#container {
    max-width: 940px;
    margin: 0 auto;
    #chart {
        width: 100%;
        height: auto;

        //Ordenación de minigráficos
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        svg {
            margin-bottom: 50px;
        }
    }
}

@media only screen and (max-width: 767px){
    #container {
        #chart {
            justify-content: center;
        }
    }  
}